form{
  input,textarea{
    padding:20px;
    box-shadow:$shadow;
    border:none;
    &::placeholder{
      color:$grey;
      font-style: italic;
    }
  }

  label{
    font-weight:100;
    color:$primaryColor;
  }

  .input--success{
    color:$success_color;
    background:$success;
  }

  .input--error{
    color:$error_color;
    background:$error;
  }


}
